---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Electron Astro Template</title>
	</head>
	<body>
		<h1>Electron app built with Astro!</h1>
	</body>
</html>
